*{
    margin: 0;
    padding: 0;
}

.form{
 
 display: flex;
 justify-content: center;
 align-items: center;
 margin-top: 3rem;
}
.form-contaner{
    width: 20rem;
    height: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    border-radius: 3rem;
}